<a name="info"></a>
<section class="about-expertise">

    <div class="slider">
        <div class="btn-back">
            <span><i class="fas fa-chevron-left"></i></span>
        </div>
        <div class="btn-fwd">
            <span><i class="fas fa-chevron-right"></i></span>
        </div>

        <div class="move-box">
            <div class="slide" data-num="1">

                <div class="text">
                    Проведение экспертизы осуществляется с учетом положений Закона «О государственной судебно-экспертной
                    деятельности в Российской Федерации» №73-ФЗ от 31.05.2001 г. и других нормативных документов.
                </div>
            </div>
            <div class="slide" data-num="2">

                <div class="text">
                    Специалисты Центра научно-технической независимой экспертизы СПбГУТ успешно проведут исследование
                    заключения эксперта и составят рецензию или отзыв на экспертизу, выполненную специалистами другой
                    организации, в случае сомнений в ее полноте, всестороннем, правильном и объективном ответе на
                    поставленные вопросы.
                </div>
            </div>
            <div class="slide" data-num="3">

                <div class="text">
                    У специалистов центра есть большой опыт подготовки независимых экспертиз для судебных заседаний, в
                    полном соответствии с текущим законодательством.
                </div>
            </div>
            <div class="slide" data-num="4">

                <div class="text">
                    По всем вопросам можно обратиться по адресу akoval@sut.ru
                </div>
            </div>
        </div>
    </div>
</section>