<section class="about-center">
    <a name="about-center"></a>
    <p class="block left-block">
        Центр научно-технической независимой экспертизы СПбГУТ оказывает полный спектр услуг в сфере научных,
        научно-технических и технических экспертиз
    </p>
    <p class="block right-block">
        Центр экспертизы имеет собственную испытательную базу, которая позволяет проводить различные испытания
        материалов и
        изделий на современном научно-исследовательском оборудовании.
    </p>
    <p class="block left-block">
        Основная деятельность Центра научно-технической независимой экспертизы СПбГУТ заключается в проведении
        необходимых
        исследований и выдачи экспертных заключений или заключений специалистов, связанных с вопросами, требующими
        специальных знаний в области научных и прикладных исследований в технических областях. Основные направления
        экспертной деятельности соответствуют научным направлениям работы университета.
    </p>
    <p class="block right-block">
        Сам по себе научно-технический анализ представляет разновидность научно-исследовательской деятельности. Такое
        исследование помогает подтвердить, изучить или сделать опровержение различных фактов в рамах научных,
        научно-исследовательских и других работ.
    </p>
</section>