<a name="tasks"></a>
<section class="grid-block">

    <div class="title">
        Основными задачами научно-технической экспертизы являются, следующие факторы
    </div>
    <div class="list">
        <div class="list-item">
            <div class="icon"><i class="far fa-check-circle"></i></div>
            <div class="text"><span class="mark">непредвзятость</span> во время комплексного анализа объектов экспертизы
            </div>
        </div>
        <div class="list-item">
            <div class="icon"><i class="fas fa-search-location"></i></div>
            <div class="text"><span class="mark">проверка объектов</span>, попавших под исследование согласно нормативам
                и требованиям
                сегодняшнего закона</div>
        </div>
        <div class="list-item">
            <div class="icon"><i class="fas fa-tasks"></i></div>
            <div class="text"><span class="mark">оценочные мероприятия</span> экспертных объектов, требования
                современных стандартов технически,
                технологических и научных познаний и т.д</div>
        </div>
        <div class="list-item">
            <div class="icon"><i class="fas fa-satellite-dish"></i></div>
            <div class="text"><span class="mark">исследование качества</span> имеющегося в распоряжении
                научно-технической базы, результативности
                работ и различного рода разработок</div>
        </div>
        <div class="list-item">
            <div class="icon"><i class="fas fa-user-tie"></i></div>
            <div class="text"><span class="mark">профессионализм</span> всех сотрудников, принимающих участие в
                проведении экспертизы</div>
        </div>
        <div class="list-item">
            <div class="icon"><i class="fas fa-book"></i></div>
            <div class="text">написание <span class="mark">объективного отчета</span> о проделанных исследованиях</div>
        </div>
    </div>
</section>