<section class="nav-panel">
    <div class="logo"><a href="#main">СПбГУТ</a></div>
    <ul class="list">
        <li class="list-item"><a href="#about-center">Основная информация</a></li>
        <li class="list-item"><a href="#tasks">Задачи</a></li>
        <li class="list-item"><a href="#info">Дополнительная информация</a></li>
        <li class="list-item"><a href="#experts">Эксперты</a></li>
        <!-- <li class="list-item"><a href="#">Раздел 5</a></li> -->
    </ul>
</section>