<a name="experts"></a>
<section class="experts">

    <div class="info">
        <strong>СПбГУТ</strong> имеет большой задел в области проведения судебных экспертиз, научно-исследовательских и
        опытно-конструкторских работ. На базе <strong>СПбГУТ</strong> развернуты семь научно-образовательных центров, в
        которых возможно
        реализовать широкий спектр проектов, особенно области проектирования, строительства и поддержки
        работоспособности компьютерных сетей, поскольку существенный вклад в работоспособность научно-образовательных
        центров <strong>СПбГУТ</strong> вносят сетевые академии <strong>Cisco</strong>, <strong>Huawei</strong>,
        <strong>Juniper</strong>.
    </div>
    <div class="card">
        <div class="img-blur">
            <img src="assets/img/temp_zarubin.jpg" alt="">
        </div>
        <div class="img-wrap"><img src="assets/img/temp_zarubin.jpg" alt=""></div>

        <h1 class="name">Зарубин Антон Александрович</h1>
        <ul class="posts">
            <li><i class="fas fa-chevron-right"></i>Кандидат технических наук</li>
            <li><i class="fas fa-chevron-right"></i>Доцент кафедры Инфокоммуникационных систем</li>
            <li><i class="fas fa-chevron-right"></i>Проректор по информатизации СПбГУТ</li>
        </ul>
        <div class="about">
            За многолетний срок работы в научной и образовательной сфере, Зарубин А.А. успешно выполнял функции
            эксперта при проведении назначенных экспертиз, научного руководителя в НИОКРах и опубликовал более 60
            научных работ.
        </div>
    </div>
    <div class="card">
        <div class="img-blur">
            <img src="assets/img/temp_elagin.jpg" alt="">
        </div>
        <div class="img-wrap"><img src="assets/img/temp_elagin.jpg" alt=""></div>

        <h1 class="name">Елагин Василий Сергеевич</h1>
        <ul class="posts">
            <li><i class="fas fa-chevron-right"></i>Кандидат технических наук</li>
            <li><i class="fas fa-chevron-right"></i>Доцент кафедры Инфокоммуникационных систем</li>
            <li><i class="fas fa-chevron-right"></i>Начальник отдела организации научной работы студентов СПбГУТ</li>
        </ul>
        <div class="about">
            Василий Сергеевич является действующим экспертом заявок и отчетных материалов в рамках целевой программы
            «Исследования и разработки по приоритетным направлениям развития научно-технологического комплекса
            России на 2014-2020 годы», входит в федеральный реестр экспертов научно-технической сферы (№ 01-04608).
            За многолетний срок работы в научной и образовательной сфере, Василий Сергеевич успешно выполнял функции
            эксперта в экспертизах, научного руководителя в НИРах и опубликовал более 40 научных работ.
        </div>
    </div>
</section>