<section class="footer">
    <div class="list">
        <div class="logos">
            <a href="https://www.sut.ru">
                <img class="logo" src="/assets/img/bonch_logo.png" alt="">
            </a>
        </div>
        <div class="contacts">
            <div class="contact-item">
                Кафедра такая-то
            </div>
            <div class="contact-item">
                ИИИИ тел. 29835293г
            </div>
        </div>
        <div class="social-links">
            <div class="row">
                <a href="https://www.sut.ru" class="link">
                    <img class="logo" src="/assets/img/vk_logo.png" alt="">
                    <span>вконтакте1</span>
                </a>
                <a href="https://www.sut.ru" class="link">
                    <div class="icon logo"><i class="fas fa-envelope"></i></div>
                    <span>почта1</span>
                </a>
            </div>
            <div class="row">
                <a href="https://www.sut.ru" class="link">
                    <img class="logo" src="/assets/img/vk_logo.png" alt="">
                    <span>вконтакте2</span>
                </a>
                <a href="https://www.sut.ru" class="link">
                    <div class="icon logo"><i class="fas fa-envelope"></i></div>
                    <span>почта2</span>
                </a>
            </div>

        </div>
    </div>
</section>