<section class="start-screen">
    <div name="main" class="title">
        <span class="center">Центр<br>инфокоммуникационных<br>экспертиз </span>
        <span class="gut">СПбГУТ</span>
    </div>
</section>