@import './partials/mixins';
@import './partials/params';



.about-expertise {
    @include main-padding;
    // width: 100rem;
    // width: 80vw;
    position: relative;
    z-index: 10;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
    background: linear-gradient(
        white, 
        black
      );
    // background-color: black;
    // overflow-y: hidden;
    margin: 0 auto;
    min-height: 30rem;
    display: flex;
    justify-content: center;
    // margin-bottom: 10rem;

    // &:before {
    //     content: " ";
    //     position: absolute;
    //     width: 100%;
    //     height: 4rem;
    //     background-color: $primary;
    //     top: calc(50% - 4rem);
    //     left: 0;

    // }

    // &:after {
    //     content: " ";
    //     position: absolute;
    //     width: 80%;
    //     height: 4rem;
    //     background-color: $primary;
    //     top: 60%;
    //     left: 20%;

    // }

    
    

    .slider {
        z-index: 2;
        // background-color: red;
        // min-height: 30rem;
        width: 100%;
        position: relative;
        overflow-x: hidden;

        &:hover {
            
            .btn-back, .btn-fwd {
                z-index: 10;
            }
        }

        .hide {
            visibility: hidden;
        }

        .btn-back, .btn-fwd {
            position: absolute;
            left: 0;
            z-index: 0;
            background-color: transparent;
            width: 5rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            
            &:hover {
                background-color: rgba(212, 212, 212, 0.2);
            }




            span {
                // background-color: gray;
                // padding: 1rem;
                color: rgba(190, 190, 190, 0.5);
                // color: rgba(0, 0, 0, 0.5);
                font-size: 5rem;
            }
        }

        .btn-fwd {
            left: calc(100% - 5rem);
            // background-color: green;
        }

        .move-box {
            // position: absolute;
            top: 0;
            left: 0;
            // height: max-content;
            
            display: flex;
            transition: all 0.5s;
            
    
        }
        
        .slide {
            // min-width: 100%;
            min-width: 100%;
            // max-width: 100%;
            min-height: 40rem;
            // color: white;
            // background: url('assets/img/temp_start-screen.jpg');
            
            background-size: 100% auto;
            font-size: 2rem;
            padding: 0 5rem;
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {background: url('assets/img/temp_start-screen.jpg');background-size: 100% auto;}
            &:nth-child(2) {background: url('assets/img/slide2.jpg');background-size: 100% auto;}
            &:nth-child(3) {background: url('assets/img/slide3.jpg');background-size: 100% auto;}
            &:nth-child(4) {background: url('assets/img/slide4.jpg');background-size: 100% auto;}

            .text {
                text-align: center;
                margin: 2rem;
                width: 80%;
                color: white;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 1rem;
            }
        }
    }

    

}