@import './partials/mixins';
@import './partials/params';



.about-center {
    @include main-padding;
    // width: 100rem;
    // width: 80vw;
    position: relative;
    z-index: 10;
    // background-color: blue;
    // overflow-y: hidden;
    margin: 0 auto;
    height: 50rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
    .block {
        margin: 1rem 0;
        font-size: 1.7rem;
        font-weight: bold;
        background-color: $primary;
        padding: 1rem;
        border-radius: 2rem;
    }

    .left-block {
        text-align: left;
        margin-right: 25%;
        border-left: 2rem solid gray;
    }

    .right-block {
        text-align: right;
        margin-left: 25%;
        border-right: 2rem solid gray;
    }
    

    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 10rem;
        top: 100%;
        transform: skewY(-2deg);
        transform-origin: top left;
        left: 0;
        z-index: 1;
        background-color: white;
    }
}