@import './partials/mixins';
@import './partials/params';


$title-height: 5rem;

.experts {
    @include main-padding;

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: black;

    .info {
        grid-column: 1/3;
        justify-self: center;
        color: white;
        font-size: 2.5rem;
        margin-bottom: 5rem;
        line-height: 3.5rem;
        text-align: center;
        width: 80%;

        strong {
            color: $primary;
        }
    }

    .card {
        z-index: 1;
        justify-self: center;
        position: relative;
        width: 95%;
        height: max-content;
        // background-color: rgb(233, 232, 232);
        background-color: rgb(29, 29, 29);
        overflow: hidden;
        // padding: 2rem;
        // padding-top: 23rem;
        font-size: 2rem;
        color: rgb(211, 209, 209);

        .img-blur {
            img {
                // height: 100%;
                width: 100%;
                filter: blur(2rem);
            }
            z-index: -10;
            position: absolute;
            height: 35rem;
            width: 100%;
            overflow: hidden;
            
            // border-bottom: 1rem solid rgb(29, 29, 29);
        }
        .img-wrap {
            z-index: 100;
            // width: 40%;
            height: 45rem;
            padding: 2rem;
            top: -10rem;
            left: 30%;
            text-align: center;

            img {
                height: 100%;
                box-shadow: 0 0 1rem black;
            }
            // justify-self: center;
            // box-shadow: 0 0 1rem black;
        }

        .name {
            padding: 0 2rem;
            text-align: center;
            color: white;
        }

        .posts {
            padding: 2rem;

            li {
                padding: 0.5rem 0;
                display: flex;
                align-items: center;

                i {
                    font-size: 1.5rem;
                    padding-right: 1rem;
                    color: $primary;

                }
            }
        }

        .about {
            padding: 0 2rem;
            padding-bottom: 2rem;
        }
    }
}