@import "./partials/mixins";
@import "./partials/params";

.footer {
@include main-padding;

padding-top: 5rem;
padding-bottom: 5rem;
// background: linear-gradient(to bottom, black, grey);
background-color: rgb(58, 58, 58);
// color: $primary;
color: #d3d1d1;
font-size: 2rem;

.logo {
padding: 1rem;
width: 20rem;
}

.list {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

.logos {

.logo:hover {
background-color: #8b8b8b;
border-radius: 15px;
}
}

.contacts {
color: $primary;
border-left: 4px solid #d3d1d1;

.contact-item {
padding: 1rem;
}
}

.social-links {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

.row {
display: flex;
flex-direction: row;
}

.link {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 5rem;

.logo {
padding: 1rem;
display: flex;
justify-content: center;
}
}

.link:hover {
background-color: #8b8b8b;
border-radius: 15px;
}

.logo {
width: 7rem;
}
}
}
}