@import './partials/mixins';
@import './partials/params';

.grid-block {
    @include main-padding;

    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),
      url('assets/img/bonch-night.jpg');
    background-size: 100%;
    position: relative;
    // background-image: url('assets/img/temp_start-screen.jpg');
    font-size: 2rem;
    // height: 100rem;
    color: white;
    padding-top: 15rem;
    padding-bottom: 10rem;
    // margin-bottom: 10rem;

    .title {
        font-size: 2.5rem;
        text-align: center;
        margin: 0 25%;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        

        &-item {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 2rem;
            margin: 1rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;

            &:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            .icon {
                max-width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                font-size: 4rem;
                margin-left: 1rem
            }

            .mark {
                color: $primary;
            }

            .text {
                margin-left: 2rem;
            }
        }
    }

    &:after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 10rem;
        top: 100%;
        left: 0;
        transform: skewY(-2deg);
        transform-origin: top left;
        // left: -25%;
        z-index: 1;
        background-color: white;
    }
}