// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    font-size: 10px;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    // font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.temp {
    font-size: 2rem;
    padding: 0 25%;
}

// @media screen and (max-width: 1550px) {
//     html, body {
//         font-size: 9px;
//     }   
// }

// @media screen and (max-width: 1400px) {
//     html, body {
//         font-size: 8px;
//     }   
// }

// @media screen and (max-width: 1300px) {
//     html, body {
//         font-size: 7px;
//     }   
// }