@import './partials/mixins';
@import './partials/params';

.nav-panel {
    height: 6rem;
    @include main-padding;
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0)
      );

    // background-color: black;

    z-index: 100;
    
    .logo {
        padding: 0 1rem;
    }
    
    .list {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        &-item {
            // box-sizing: content-box;
            height: 100%;
            
            margin-left: 5rem;
            // padding: 0 .5rem;
            cursor: pointer;

            &:hover {
                color: $primary;
                border-bottom: 0.2rem solid white;
            }

            a {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 .5rem;
            }
        }
    }
}