@import './partials/mixins';
@import './partials/params';

.start-screen {
    height: 100vh;
    @include main-padding;
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        rgba(0, 0, 0, 1), 
        rgba(0, 0, 0, 0.7)
      ),
      url('assets/img/temp_start-screen.jpg');
    background-size: 100%;

    .title {
        color: white;
        font-size: 7rem;
        text-align: end;
        cursor: pointer;
        padding: 5rem;
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0);
        // background: opacity($color: #000000, $amount: 1);
        

        .gut {
            color: $primary;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
    
}